<table class="table table-hover">
	<tr>
		<td width="70px">
			<a href="{{ url_for('user', username=comment.user) }}">
                    <img src="{{ comment.avatar(70) }}" />
                </a>
            </td>
            <td>
            	<a href="{{ url_for('user', username=comment.user) }}">
            	{{comment.user}}</a>
            	commented:<br>
            	{{comment.body}}
            	<br>
            	<p align="right">
            	{{ moment(comment.timestamp).format('LLL') }}</p>
            </td>
	</tr>
</table>